
$custom-dark-bg-primary: rgba(31,41,55);
$custom-dark-text: rgba(156,163,175);
$custom-dark-menu-active: rgba(22,30,46);
$custom-dark-menu-text-active: rgba(209,213,219);
$custom-menu-text-size: .975rem;

